.vs/ULogView/v15/Server/sqlite3/storage.ide-wal
.vs/ULogView/v15/Server/sqlite3/storage.ide-shm
.vs/ULogView/v15/Server/sqlite3/storage.ide
.vs/ULogView/v15/Server/sqlite3/db.lock
.vs/ULogView/v15/.suo
ULogView/bin/
ULogView/obj/
